<div class="container">
  <div class="container-list">
    <ul>
      <% @restaurants.each do |restaurant| %>
        <li>
          <h1><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
          <h2><%= restaurant.category %> cuisine</h2>
        </li>
      <% end %>
    </ul>
  </div>
</div>
