// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
}

.container a {
  padding: 30px;
}

.container h2 {
  padding: 30px;
}

.container-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-list li {
  padding: 30px;
}

.container-content-padding {
  padding: 30px;
}


